<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="font-serif">
    <header class="font-sans">
      <h1 class=""><a href='/'>streamkeeper</a></h1>
      <nav class="">
        <ul>
          <li><a href='to-watch.html'>🎞️ to watch</a></li>
          <li><a href='to-play.html'>🎮 to play</a></li>
          <li><a href='to-read.html'>📕 to read</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

  </body>
</html>
