<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <header>
      <h1>streamkeeper</h1>
      <nav>
        <ul>
          <li>movies</li>
          <li>tv</li>
          <li>games</li>
          <li>books</li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

  </body>
</html>
